.main
  @media sp
    color #999999
  @media tb
    color #666666
  @media pc
    color #333333

  h1
    margin-bottom 10px
    img
      @media sp
        width 100%
      @media tb
        width 100%

