<!DOCTYPE html>
<% if @html : %>
<%- @html %>

<% else : %>
<html lang="<% @lang %>">
<% end %>
  <head>
    <meta charset="UTF-8">
    <title><%- @title %></title>
<% if @description : %>
    <meta name="description" content="<%- @description %>">
<% end %>
<% if @keywords : %>
    <meta name="keywords" content="<%- @keywords %>">
<% end %>
<% if @ogTitle : %>
    <meta property="og:title" content="<%- @ogTitle %>">
<% end %>
<% if @ogType : %>
    <meta property="og:type" content="<%- @ogType %>">
<% end %>
<% if @ogDescription : %>
    <meta property="og:description" content="<%- @ogDescription %>">
<% end %>
<% if @ogImage : %>
    <meta property="og:image" content="<%- @ogImage %>">
<% end %>
<% if @ogSite_name : %>
    <meta property="og:site_name" content="<%- @ogSite_name %>">
<% end %>
<% if @ogApp_id : %>
    <meta property="fb:app_id" content="<%- @ogApp_id %>">
<% end %>
<% if @viewport : %>
    <meta name="viewport" content="width=device-width">
<% end %>
<% content 'meta' %>
<% if @canonical : %>
    <link rel="canonical" href="<%- @canonical %>">
<% end %>
    <!-- build:css /css/app.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css">
    <!-- endbower -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- endbuild -->
<% content 'css' %>
  </head>
<% if @bodyClass : %>
  <body class="<%- @bodyClass %>">
<% else : %>
  <body>
<% end %>
<% content 'body' %>

<% content 'header' %>

<% content 'main' %>

<% content 'footer' %>

<!-- build:js js/app.js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->
<% content 'js' %>
  </body>
</html>
