<% extend '_template/_layout.ect' %>

<% block 'meta' : %><% end %>

<% block 'css' : %><% end %>

<% block 'js' : %><% end %>

<% block 'body' : %>

    <!-- .wrapper -->
    <div class="wrapper">
      <!-- .container -->
      <div class="container">








        <% block 'header' : %>
        <% include '_template/_components/_header.ect' %>






        <% block 'main' : %>
        <% include '_template/_components/_main.ect' %>






        <% block 'footer' : %>
        <% include '_template/_components/_footer.ect' %>










      </div>
      <!-- /.container -->
    </div>
    <!-- /.wrapper -->










<% end %>
