global-reset()

body
  line-height 1.4
  color #000000
  margin 8px

.container
  @media sp
    width 100%
    font-size 13px
  @media tb
    width 100%
    font-size 16px
  @media pc
    width 950px
    margin 0 auto
    font-size 20px
