        <!-- .main -->
        <div class="main">
          <h1><img src="img/fff.png" alt="main img"></h1>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto sapiente hic temporibus sit obcaecati quaerat explicabo repellat culpa consectetur, magni iure aspernatur soluta ducimus magnam totam, distinctio minus possimus.
          </p>

          <br>
          <br>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto sapiente hic temporibus sit obcaecati quaerat explicabo repellat culpa consectetur, magni iure aspernatur soluta ducimus magnam totam, distinctio minus possimus.
          </p>

          <br>
          <br>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto sapiente hic temporibus sit obcaecati quaerat explicabo repellat culpa consectetur, magni iure aspernatur soluta ducimus magnam totam, distinctio minus possimus.
          </p>

          <br>
          <br>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto sapiente hic temporibus sit obcaecati quaerat explicabo repellat culpa consectetur, magni iure aspernatur soluta ducimus magnam totam, distinctio minus possimus.
          </p>

          <br>
          <br>

        </div>
        <!-- /.main -->
